<p style="color: green"><%= notice %></p>


<div class="container">
  <h2>Questions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th>Category</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%@questions.each do |question|%>
      <tr>
        <td><%= question.body %></td>
        <td><%= question.question_category.name %></td>
        <td><%= question.active ? 'Active' : 'Inactive'%></td>
        <td><%= link_to edit_question_path(question) do%>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <%end%>
        </td>
      </tr>
      <%end%>
   </tbody>
 </table>
 <%= link_to new_question_path do%>
  <span class="glyphicon glyphicon-plus"></span> Add new question
 <%end%>
</div>
