<p style="color: green"><%= notice %></p>

<%= render @question_category %>

<div>
  <%= link_to "Edit this question category", edit_question_category_path(@question_category) %> |
  <%= link_to "Back to question categories", question_categories_path %>

  <%= button_to "Destroy this question category", @question_category, method: :delete %>
</div>
